@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255,255,255,0.87);
  background-color: #111;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
